.hero {
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;}


.highway {
  height: 150px; 
  width: 200%; 
  background-image: url('../img/road.jpg'); 
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  z-index: 1; 
  background-size: auto 100%; 
}
.highway-running{
      height: 150px; 
  width: 200%; 
  background-image: url('../img/road.jpg'); 
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  background-repeat: repeat-x; 
  z-index: 1; 
  background-size: auto 100%; 
  animation: slide 10s linear infinite; 
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


.car {
  width:400px;
  left: 0%;
  bottom: 60px;
  transform: scaleX(-1);
  position: absolute;
  z-index: 2;
  
}

.car img {
  width: 100%;
  animation: car 1s linear infinite;
}

@keyframes car {
  0%, 50%, 100% {
    transform: translateY(-1px);
  }
}

.wheel {
  left: 50%;
  bottom: 179px;
  transform: translateX(-50%);
  position: absolute;
  z-index: 2;
}

.wheel img {
  width: 100px; 
  height: 100px;
  animation: wheel 1s linear infinite;
}

.back-wheel {
  left: -165px;
  position: absolute;
}

.front-wheel {
  left: 90px;
  position: absolute;
}

@keyframes wheel {
  100% {
    transform: rotate(360deg);
  }
}


@media (max-width: 1199px) and (min-width: 992px) {
  .highway {
    height: 150px; 
    bottom: 0px;
  }



.city {height: 700px; }

.car {width: 400px;}

.car img {width: 70%;}

}

@media (max-width: 991px){
.highway {
  height: 120px; 
  background-size: cover;
  background-repeat:round;}

.city {
  height: 600px; 
  bottom: 120px;}

.car {
  width: 350px;
  bottom: 50px;}
}

@media (max-width: 767px){

.highway {
  height: 100px;
  width:600%;}

.city {
  height: 500px; 
  bottom: 100px;}



.car {width: 300px;}


}

@media (max-width: 575px) {
  .car img {
    width: 65%;
    left: 0;}
}