.bet-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #1b1c1d;
  padding: 8px;
  /* height: 100vh; */
  max-height: 100vh;
  min-height: 20vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: white;
}

@media (max-width: 620px) {
  .bet-section {
    margin-top: 5px;
  }
}

.tab-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tab-container {
  display: flex;
  gap: 16px;
  background-color: #000;
  padding: 4px;
  border-radius: 9999px;
  width: 100%;
  margin-bottom: 7px;
}
.live-bet-count-box-betlist{
    display: flex;
    justify-content: space-between;
    align-items: center;
  gap: 16px;
  background-color: #000;
  padding: 4px;
  border-radius: 10px;
  width: 100%;
}
.live-bet-price-amount{
  text-align: end;
  font-size: medium;
  font-weight: bolder;
  color: #aaa;
}
.live-bet-win{
   text-align: end;
font-size: small;
font-weight: 200;
  color: #aaa;
}
.tab-button {
  font-size: 12px;
  padding: 5px 8px;
  border-radius: 9999px;
  width: 120px;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
}

.tab-button.active {
  background-color: #2c2d30;
  color: white;
}

.tab-button.inactive {
  background-color: transparent;
  color: #9ea0a3;
}

.tab-content {
  width: 100%;
  max-width: 768px;
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

.tab-pane {
  text-align: center;
  font-size: 18px;
  color: white;
}

.footer-list {
  font-size: 14px;
  overflow-y: auto;
  flex-grow: 1;
  min-height: 0;
  margin-top: 10px;
}
.footer-list::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.footer-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.footer-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 12px;
  margin: 6px 0;

  border-radius: 10px;
  background-color: #1f1f1f;
  color: white;
  font-size: 13px;
}

.footer-item.header {
  background-color: transparent;
  font-weight: bold;
  color: #aaa;
}

.footer-user {
  display: flex;
  align-items: center;
  gap: 10px;
  /* min-width: 140px; */
  font-weight: 500;
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.footer-bet {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2px;
  min-width: 80px;
}


.bet-amount {
  font-size: 14px;
  font-weight: bold;
  color: #aaa;
}

.bet-multiplier {
  font-size: 12px;
  color: #aaa;
}

.text-right {
  text-align: right;
  font-size: 14px;
  font-weight: 500;
}
